<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="Server" value="ftp://127.0.0.1:21/local/"/>
    <add key="Local" value="D:\FTP\"/>
    <add key="Destination" value="ftp://127.0.0.1:21/destination/"/>
    <add key="User" value="Jpena"/>
    <add key="Pass" value="123456"/>
    <add key="SizeDocument" value="100"/>
    
    
  </appSettings>
  
</configuration>